[Unit]
  Description=Infra Demo Service
  After=network.target

  [Service]
  EnvironmentFile=/home/local_admin/linux-infra-intern-assignment/config/infra-demo.env
  ExecStart=/usr/bin/python3 -m http.server $PORT
  Restart=always

  [Install]
  WantedBy=multi-user.target
